
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TimeOut</title>
</head>
<body>
    <div>
        <h3> Session Time Extended</h3>
        <br /> Your New Session Time Value Is:
        @Session.Timeout
    </div>
</body>
</html>
