@model GestorDocumentos.Models.Pantallas

@{
    ViewBag.Title = "Detalle de Pantalla";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Pantallas</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.pantalla)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.pantalla)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Editar", "Edit", new { id = Model.IdPantalla }) |
        @Html.ActionLink("Página Anterior", "Index")
    </p>
</body>
</html>
